.bd-article-container h1 {
    color: #4C6FA3 !important;
    font-size: 1.8rem !important;  
    font-weight: 700 !important;
}

.bd-article-container h2 {
    color: #4C6FA3 !important;
    font-size: 1rem !important;    
    font-weight: 400 !important;
}